.DS_Store
.vscode/settings.json
task2/read_json.ipynb
task2/trial_error.ipynb
task3/job3.ipynb
task3/trial.ipynb
task2/output_efishery_task2.xlsx
task2/output_clean2.xlsx
task2/unclean_data_fish.csv
task2/unclean_data_fish.xlsx